<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CamisetasNBA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="addProduct">Agregar producto</a>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cuenta">Mi cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Carrito">Carro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div id="rows" class="row">
  <div class="col">
    <div id="divrayo1"></div>
  </div>
  <div id="main" class="col-sm-4">
    <!-- Información entre efectos de la pagina -->
    <div class="container">
      <div id="box-cart" >
         <h1 id="tuCarrito">
            Tu carrito
          </h1>
{{#each productsToRender}}
            <div  id="ola3">
                <div   id="card-cart" class="card-size" style="  background-color:  rgb(15, 15, 15);">
                  <div class="image-box">
                    <img id="imagen-card"
                    
                    src={{image}}
                    class="card-img-top" alt="...">
                  </div>
                  <div  class="card-body">
                    
                    <h5 id="cards" class="card-title-color">{{productName}}</h5>
                    <div id="cantidad-carrito">
                    <p class="card-text-color">${{price}}</p>
                     <div id="cantidad-carro">
                  
                     <form id="botones" action="/removeCart/{{_id}}" method="POST">
                          <button class="bi bi-dash-lg"></button>
                        </form>
                    <p class="card-text-color">{{quantity}}</p>
                    <form id="botones" action="/addCart/{{_id}}" method="POST">
                           <button class="bi bi-plus-lg"></button>
                        </form>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
           
         
{{/each}}

 <div id="pago">
       <h1 id="totalPagar">
            Total a pagar:
          </h1>
            <h2 class="card-text-color">${{amount}}</h2>     
      </div>
         <form  id="pagar" action="/Carrito" id="form2"  method="POST">
                            <button type="submit" class="btn btn-outline-light">Pagar</button>
                        </form>
                 
    
      </div>
    </div>
    <!-- Fin de los efectos -->
    <div id="divv"></div>
  </div>
  <div class="col">
    <div id="divrayo2"></div>
  </div>
</div>