<div id="rows" class="row">
    <div class="col">
    </div>
    <div id="main" class="col-sm-6">
        <div class="container">
            <div class="box">
                <img src={{product.image}} id="imagen-producto" alt="Imagen del producto"
                    class="product-image">
                <div class="product-details">
                    <h1 class="product-title">{{product.productName}}</h1>
                    <p class="product-price">${{product.price}}</p>
                    {{#if user}}
                    <div id="comprar">
                        <form id="form1" action="/Camisetas/{{product._id}}" method="POST">
                            <button type="submit" class="btn btn-outline-light">Añadir al carrito</button>
                        </form>
                       
                    </div>
                        <div id="comprar">
                        <form id="form1" action="/delete/{{product._id}}" method="GET">
                            <button type="submit" class="btn btn-outline-danger">Eliminar producto de la base de datos</button>
                        </form>
                       
                    </div>

                    <div id="comprar">
                        <form id="form1" action="/editProduct/{{product._id}}" method="GET">
                            <button type="submit" class="btn btn-outline-light">Editar producto de la base de datos</button>
                        </form>
                       
                    </div>
                    {{/if}}
                    <p class="product-description">{{product.description}}</p>
                </div>
            </div>
        </div>
        <div id="divv"></div>
    </div>
</div>
